<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/style.css" />
  <script src="https://unpkg.com/vue@3.2.45/dist/vue.global.js"></script>
  <title>Learning Vue</title>
</head>
<body>
  <div class="app" id="app">
    <h1>{{ title }}</h1>
    <div class="main">
      <div class="showDetails">
        <ul>
          <li v-for="(value, key) in details" :key="detail"><strong>{{ key }}:</strong> {{ value }}</li>
        </ul>
        <div class="ticketsRemaining">
          <p v-if="tickets > 15">On sale now</p>
          <p v-else-if="tickets <= 15 && tickets > 1">There are {{ tickets }} tickets left</p>
          <p v-else-if="tickets === 1">There is 1 ticket left</p>
          <p v-else>Sorry. We're sold out</p>
        </div>
        <ul class="ticketTypes">
          <li class="ticketSelector" @mouseover="updateImage(type.id)" v-for="type in ticketTypes">
            {{ type.name }}
          </li>
        </ul>
        <input v-model="message" placeholder="edit me" />
        <p>The input box says {{message}}.</p>
        <div class="addTickets">
          <button v-if="!soldOut" @click="updateCart">Add ticket</button>
          <div clas="cart">Tickets ({{cart}})</div>
        </div>
    </div>
    <aside class="aside">
      <!-- <img :class="{ 'soldOut': soldOut }" :src="image" width="199" height="199"/> -->
      <!-- <img :class="[soldOut && soldOutClass]" :src="image" width="199" height="199"/> -->
      <img :class="{ 'soldOut': soldOut }" :src="image" width="199" height="199"/>
    </aside>
  </div>
<script src="main.js"></script>
<script>
  const mountedApp = app.mount("#app");
</script>
</body>
</html>
