body {
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  padding: 0 1em;
}

.main {
  display: flex;
  gap: 2em;
}

.ticketTypes {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  padding-left: 0;
}

.ticketSelector {
  list-style: none;
  width: 75px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTickets {
  display: flex;
  gap: 1em;
}

.soldOut {
  opacity: 0.3;
}
